<div class="alert alert-warning">
    <h4 class="alert-heading">Warning: Image Orientation Issues</h4>

    <p>
        For whatever reason, digital cameras and smartphones don't store pictures
        in the orientation in which they were taken; instead, they store it in the
        metadata.
    </p>

    <p>
        Your browser does not support the features necessary to display pictures
        in their proper orientation. As such, images may appear sideways.
    </p>

    <p>Please use Chrome, Firefox, or Edge.</p>
</div>