@inherits LayoutComponentBase

<PageTitle>Frontend</PageTitle>

<div class="page">
    <div class="sidebar windowed-only">
        <NavMenu />
    </div>

    <main>
        <div class="windowed-only">
            <div class="top-row px-4">
                <!--<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>-->
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
